In [1]:
import pandas as pd

In [2]:
# reading the CSV file
data=pd.read_csv("startup_funding .csv")

In [3]:
# printing the first 4 rows in the data frame
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [4]:
# print the number of rows and columns in the data frame
data.shape

(2372, 10)

In [5]:
# print the number of null values in each column of the data frame
data.isna().sum()

SNo                    0
Date                   0
StartupName            0
IndustryVertical     171
SubVertical          936
CityLocation         179
InvestorsName          8
InvestmentType         1
AmountInUSD          847
Remarks             1953
dtype: int64

In [6]:
# As my analysis doesnot require Remarks Column, Iam deleting the Remarks Column
data=data.drop(["Remarks"],axis=1)

In [7]:
# display that the remarks column is deleted
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000"
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000"
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000"

In [8]:
# Changed the name of the column from AmountInUSD to AmountInINR as the amount specified is in Indian rupees
data = data.rename(columns={'AmountInUSD': 'AmountInINR'})

In [9]:
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInINR
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000"
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000"
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000"

In [11]:
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInINR
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000

In [14]:
# NumPy is an open-source Python library that facilitates efficient numerical operations on large quantities of data.
import numpy as np

In [15]:
# to clean the SubVertical column, replacing the mode value of the data.
data['SubVertical'].replace(np.nan, data['SubVertical'].value_counts().idxmax(), inplace=True)

In [17]:
# displaying the number of null values in the "SubVertical" column.
# there are zero null values as we replaced the null values with the mode
data['SubVertical'].isna().sum()

0

In [19]:
# displaying the number of null values in the "InvestmentType" column.
data['InvestmentType'].isna().sum()

1

In [21]:
# to clean the "InvestmentType" column, replacing the mode value of the data.
data['InvestmentType'].replace(np.NaN,data['InvestmentType'].value_counts().idxmax(),inplace=True)

In [22]:
# displaying the number of null values in the "InvestmentType" column.
# there are zero null values as we replaced the null values with the mode
data['InvestmentType'].isna().sum()

0

In [24]:
# to perform analysis on the "AmountInINR" column, the data should be of float datatype
# In order to convert it into float we need to replace "," whith "" by ignoring the NaN values in the column
data['AmountInINR'] = data['AmountInINR'].apply(lambda x: x.replace(',', '') if str(x) != 'nan' else x)

In [25]:
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInINR
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000

In [26]:
# converting the datatype of "AmountInINR" column to float
data['AmountInINR'] = data['AmountInINR'].astype('float64')

In [27]:
data.dtypes

SNo                   int64
Date                 object
StartupName          object
IndustryVertical     object
SubVertical          object
CityLocation         object
InvestorsName        object
InvestmentType       object
AmountInINR         float64
dtype: object

In [28]:
# displaying the float values in "AmountInINR" column
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInINR
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0

In [29]:
# calculating the mean of values in "AmountInINR" column
mean=data['AmountInINR'].mean()
print(mean)

12031073.099016393

In [30]:
# replacing the null/Nan values with the calculated mean value
data['AmountInINR'].fillna(mean, inplace=True)

In [31]:
# converting the datatype of "AmountInINR" column to int
data['AmountInINR'] = data['AmountInINR'].astype('int64')

In [32]:
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInINR
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,12031073
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,12031073
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000

# HYPOTHESIS-1

In [ ]:
# Null Hypothesis (H0): There is no significant increase in the amount of investment over the years.
# Alternative Hypothesis (Ha): There is a significant increase in the amount of investment over the years.

In [33]:
# From the column "DATE" we are extracting only the year and creating a new column "Year"
data['Year'] = data['Date'].str[-4:]

In [34]:
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInINR,Year
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000,2017
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,12031073,2017
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,12031073,2017
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000,2017
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000,2017

In [35]:
# Grouping the funding data by year and create a list of funding amounts for each year.
amounts_by_year = data.groupby('Year')['AmountInINR'].apply(list)

In [36]:
print(amounts_by_year)

Year
2015    [1000000, 12031073, 12031073, 5600000, 500000,...
2016    [1200000, 4000000, 3600000, 100000, 12031073, ...
2017    [1300000, 12031073, 12031073, 500000, 850000, ...
Name: AmountInINR, dtype: object

In [38]:
# Creating a new list and adding the corresponding year values into the List 
year1=amounts_by_year['2015']
year2=amounts_by_year['2016']
year3=amounts_by_year['2017']

In [41]:
# The user can access all the statistical functions and distributions in the "stats" module by calling them through the "stats" namespace.

import scipy.stats as stats

In [42]:
# one-way ANOVA (analysis of variance) test to determine if there is a significant difference between the means of two or more independent groups.
f_value, p_value = stats.f_oneway(year1, year2, year3)

# Print the results
print("F-value:", f_value)
print("P-value:", p_value)

F-value: 4.631913584071655
P-value: 0.009824453760045673

In [43]:
# The alpha value is the significance level, which is the probability of rejecting the null hypothesis when it is true. 
# The alpha value is typically set to 0.05 which means that there is a 5% chance of rejecting the null hypothesis even when it is true.
alpha = 0.05

# The p-value is the probability of obtaining a test statistic as extreme as, or more extreme than, the one observed in the sample data, assuming the null hypothesis is true.

# If the p-value is less than or equal to the alpha value, we reject the null hypothesis and conclude that there is evidence to support the alternative hypothesis. 

if p_value < alpha:
    print("Reject null hypothesis. There is a significant increase in the amount of investment over time.")
else:
    print("Fail to reject null hypothesis. There is no significant increase in the amount of investment over time.")

Reject null hypothesis. There is a significant increase in the amount of investment over time.

In [ ]:

# As p_value(0.009824453760045673) is less than alpha, it rejected the Null Hypothesis and came to conclusion that There is a significant increase in the amount of investment over the year.

# HYPOTHESIS 2

In [ ]:
# Null Hypothesis (H0): Mumbai and Bangalore are not the top cities for startup funding in India
# Alternative Hypothesis (Ha): Mumbai and Bangalore are the top cities for startup funding in India

In [44]:
# Extracting the funding data for startups located in Mumbai from a data frame
mumbai_funding = data[data["CityLocation"] == "Mumbai"]["AmountInINR"]

In [45]:
# Returns the index and funding amount of Mumbai
print(mumbai_funding)

1       12031073
3         500000
10       1000000
17        464000
45      12031073
          ...
2169    12031073
2179    18000000
2185    12000000
2187     1000000
2193    21500000
Name: AmountInINR, Length: 446, dtype: int64

In [46]:
# Returns the number of records with Mumbai as city
mumbai_funding_total=mumbai_funding.shape[0]
print(mumbai_funding_total)

446

In [47]:
# Extracting the funding data for startups located in Bangalore from a data frame
bangalore_funding = data[data["CityLocation"] == "Bangalore"]["AmountInINR"]

In [48]:
# Returns the index and funding amount of Bangalore
print(bangalore_funding)

0        1300000
5        1000000
8        8500000
11      12031073
13       1000000
          ...
2190    10000000
2191    12031073
2196     3500000
2197    12031073
2198      400000
Name: AmountInINR, Length: 627, dtype: int64

In [49]:
# Returns the number of records with Bangalore as city
bangalore_funding_total=bangalore_funding.shape[0]
print(bangalore_funding_total)

627

In [50]:
# The user can access all the statistical functions and distributions in the "stats" module by calling them through the "stats" namespace.

import scipy.stats as stats

In [52]:
# Two-sample t-test is often used in hypothesis testing to determine if there is a significant difference between the means of two independent samples.
# The function ttest_ind takes two arrays of sample data as inputs and returns a tuple containing the t-statistic and the p-value.
t_test = stats.ttest_ind(mumbai_funding, bangalore_funding)

In [70]:
print(t_test.pvalue)

0.04992194352764136

In [53]:
# The alpha value is the significance level, which is the probability of rejecting the null hypothesis when it is true. 
# The alpha value is typically set to 0.05 which means that there is a 5% chance of rejecting the null hypothesis even when it is true.

alpha=0.05

In [54]:
# The p-value is the probability of obtaining a test statistic as extreme as, or more extreme than, the one observed in the sample data, assuming the null hypothesis is true.

# If the p-value is less than or equal to the alpha value, we reject the null hypothesis and conclude that there is evidence to support the alternative hypothesis. 

if t_test.pvalue < alpha:
    print("Reject null hypothesis - Mumbai and Bangalore are the top cities for startup funding in India.")
else:
    print("Fail to reject null hypothesis - Mumbai and Bangalore are not the top cities for startup funding in India.")

Reject null hypothesis - Mumbai and Bangalore are the top cities for startup funding in India.

In [ ]:
# As p-value(0.04992194352764136) is less than alpha it is concluded that we Rejected null hypothesis which means Mumbai and Bangalore are the top cities for startup funding in India.

# HYPOTHESIS 3

In [ ]:
# Null Hypothesis (HO): The distribution of funding types for startups in India is not significantly different from a uniform distribution.

# Alternative Hypothesis (Ha): Seed funding is the most common type of funding for startups in India.

In [55]:
# counts the number of occurrences of each unique value in a column. In this case, it returns a Pandas series where each value in the series is the count of the number of times that particular investment type appears in the "InvestmentType" column of the "data" DataFrame.

india_fund_types = data['InvestmentType'].value_counts()

In [56]:
print(india_fund_types)

Seed Funding      1272
Private Equity    1066
SeedFunding         30
Debt Funding         1
PrivateEquity        1
Crowd funding        1
Crowd Funding        1
Name: InvestmentType, dtype: int64

In [57]:
# As there are duplicate names for SeedFunding with single purpose, removing the duplicate values by renaming the tqo values to single name
for idx in data.index:
    if data.loc[idx, 'InvestmentType'] == 'SeedFunding':
        data.loc[idx, 'InvestmentType'] = 'Seed Funding'

In [58]:
# As there are duplicate names for PrivateEquity with single purpose, removing the duplicate values by renaming the tqo values to single name

for idx in data.index:
    if data.loc[idx, 'InvestmentType'] == 'PrivateEquity':
        data.loc[idx, 'InvestmentType'] = 'Private Equity'

In [59]:
# As there are duplicate names for Crowd funding with single purpose, removing the duplicate values by renaming the tqo values to single name

for idx in data.index:
    if data.loc[idx, 'InvestmentType'] == 'Crowd funding':
        data.loc[idx, 'InvestmentType'] = 'Crowd Funding'

In [60]:
india_fund_types = data['InvestmentType'].value_counts()

In [61]:
print(india_fund_types)

Seed Funding      1302
Private Equity    1067
Crowd Funding        2
Debt Funding         1
Name: InvestmentType, dtype: int64

In [62]:
# the observed values are the actual frequencies of each category combination in the contingency table, while the expected values are the frequencies that would be expected if the two categorical variables were independent. 

# By comparing the observed and expected values, the chi-square test for independence can determine if there is a significant association between the two categorical variables.

observed = np.array([india_fund_types['Seed Funding'], india_fund_types['Private Equity'], india_fund_types['Debt Funding'], india_fund_types['Crowd Funding']])
expected = np.array([observed.sum()/4]*4)

In [63]:
# The chi-square test for independence is a statistical method used to determine if there is a significant association between two categorical variables.
from scipy.stats import chi2_contingency

In [64]:
chi2_stat, pval, dof, ex = chi2_contingency([observed, expected])

In [69]:
print(f"chi square stats: {chi2_stat}")
print(f"P value {pval}")

chi square stats: 1577.6476311845008
P value 0.0

In [65]:
alpha = 0.05
if pval < alpha:
    print("Reject null hypothesis: Seed funding is the most common type of funding for startups in India.")
else:
    print("Fail to reject null hypothesis: There is not enough evidence to support the claim that seed funding is the most common type of funding for startups in India.")

Reject null hypothesis: Seed funding is the most common type of funding for startups in India.

In [ ]:

# As pval<alpha, it rejected the null hypothesis and concluded that Seed funding is the most common type of funding for startups in India.